@import "../css/reset.css";
@import "../css/common.css";
@import "../css//components/header.css";
@import "../css//components/footer.css";



.login-wrapper {
    display: flex;
    height: 80vh;
    flex-direction: column;
    padding: 0 700px;
    padding-top: 100px;
}


.login-wrapper h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}


.login_form{
    display: flex;
    flex-direction: column;
}

.login_btn {
    background-color: black;
    color: #fff;
    font-size: 18px;
    padding: 10px 0;
    border: none;
    margin: 5px 0;
}

.login_btn-kakao{
    margin-top: 40px;
    background-color: #fee500;
    color: #fff;
    margin-bottom: 30px;;
}

.login_btn-naver{
    background-color: darkgreen;
}

.login_text{
    color: #4f4f4f;
}

.login_text-box{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.login_text-box a {
    text-decoration: none;
}

.login_label {
    display: flex;
    flex-direction: column;
    margin : 10px 0
}

.login_label:focus-within .login_text{
    color: #111;
}

.login_input{
    border: none;
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
}

.login_input:focus{
    outline: none;
    border-color: #111;
}